<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ERRO}}</h1>
    <form method="post">
        <p>
            Usuários:
        </p>
        <input id="usuario" name="usuario" type="text">

        <p>
            Senha:
        </p>
        <input id="senha" name= "senha" type="password">

        <br>

        <button type="submit">ENTRAR</button>

    </form>
</body>
</html>